.equipo-hover-section {
  width: 100%;
  padding: 80px 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.container-equipo-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.equipo-title {
  font-family: 'Waterfall';
  font-size: 4rem;
  gap: -10px;
  font-weight: 100;
  
}

.spanEquipo {
    position: relative;
  font-size: .8rem;
  color: #f3914cbe;
  margin-bottom: 60px;
}

/* CARDS */
.equipo-cards {
  display: flex;
  gap: 60px;
  justify-content:center;
  align-items: center;
}

.equipo-card { 
  position: relative; 
  display: flex;
  align-items: center;
  justify-content: center;
}

/* IMAGE */
.img-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.grup-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: relative;
  bottom: 120px;
}

.img-wrapper img {
  width: 100%;
  object-fit: contain;
  cursor: pointer;
  height: 520px;
  transition: transform 0.5s ease, filter 0.5s ease;
  transform: translateY(0);
  filter: drop-shadow(0 -15px 10px rgba(0, 0, 0, 0.682));
}

/* GRADIENT */
/* .img-gradient {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to top,
    rgb(255, 0, 0),
    transparent 10%
  );
  pointer-events: none;
  z-index: 2;
} */

.name-tag {
  z-index: -1;
  white-space: nowrap;
  font-weight: 900;
  font-size: 4rem;
}

.name-tag p {
     font-family: 'Dorsa';   
     font-size: 15rem;
     font-weight: 600;
     letter-spacing: 15px;
     text-transform: uppercase;
     text-align: center;
}


/* BUTTON CENTERED */
.btn-vermas {
  position: absolute;
  bottom: 0;
  left: 50%;
  font-size: .8rem;
  font-weight: 700;
  transform: translate(-50%, -50%);
  opacity: 0;
  padding: 10px 30px;
  border-radius: 30px;
  border: none;
  background: #f3924c;
  box-shadow: 0 0 20px rgba(139, 139, 139, 0.255);
  color: #000;
  cursor: pointer;
  transition: all 0.4s ease;
  z-index: 3;
}

/* HOVER */
.equipo-card:hover img {
  transform: translateY(-20px) scale(1.08);
  filter: drop-shadow(0 -135px 100px rgba(174, 174, 174, 0.29));
}

.equipo-card:hover .btn-vermas {
  opacity: 1;
}

/* MODAL */
.modal-overlay {
  position: fixed;
  inset: 0;
  background-color: #000;
  backdrop-filter: blur(20px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  cursor: pointer;
}

.modal-content {
  display: flex;
  gap: 50px;
  max-width: 900px;
  padding: 40px;
  cursor: default;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-text {
  max-width: 380px;
}

.modal-text h3 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.modal-text p {
  white-space: pre-line;
  line-height: 1.6;
}

/* AGENDAR */
.btn-agendar {
  margin-top: 25px;
  padding: 12px 28px;
  border-radius: 30px;
  border: none;
  background: #f3914cbe;
  cursor: pointer;
  font-size: 1rem;
}

.modal-img img {
  height: 600px;
}

.modal-img {
    position: relative;
}

.img-gradient-modal {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.837),
    transparent 45%
  );
  pointer-events: none;
}

/* RESPONSIVE */
@media (max-width: 1200px) {
   .img-wrapper {

    width: 90%;
  }

  .grup-img {
    bottom: 150px;
  }
  
  .name-tag p {
      
     font-size: 12rem;
     font-weight: 600;
     letter-spacing: 12px;
     left: 63%;
     bottom: 100px;
     
    
  }
  
}

@media (max-width: 1055px) {
  .img-wrapper {
    
    width: 85%;
  }

  .grup-img {
    bottom: 170px;
  }
 
  .name-tag p {
      
     font-size: 10rem;
     font-weight: 600;
     letter-spacing: 10px;
     
  }
  
}

@media (max-width: 940px) {

  
  .name-tag p {
      
     font-size: 8rem;
     font-weight: 600;
     letter-spacing: 8px;
    
  }

  .grup-img {
    bottom: 200px;
  }

}

@media (max-width: 822px) {
  .equipo-cards {
    flex-direction: column;
  }

   .img-wrapper {

    width: 90%;
  }
  
  .name-tag p {
      
     font-size: 12rem;
     font-weight: 600;
     letter-spacing: 12px;
    
    
  }
  
  
  
}

@media (max-width: 1000px) {
  .equipo-hover-section  {
    padding: 0 0;
   
  }
}

@media (max-width: 392px) {
    .img-wrapper {
    
    width: 85%;
  }
  
  .name-tag p {
      
     font-size: 12rem;
     font-weight: 600;
     letter-spacing: 10px;

  }
  
}

@media (max-width: 364px) {
 
  .name-tag p {
      
     font-size: 10rem;
     font-weight: 600;
     letter-spacing: 8px;

  }

  
}

@media (max-width: 306px) {
   .equipo-cards {
    flex-direction: column;
  }

   .img-wrapper {

    width: 90%;
  }

 

  .name-tag p {
     font-size: 8rem;
     font-weight: 600;
     letter-spacing: 12px;
  }


}

@media (max-width: 232px) {
  .name-tag p {
    display: none;
  }
}
