.header2 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0px 2%;
    display: flex;
    align-items: center;
    justify-content: end;
}

/* Contenedor del nav */
.GlassContainer-no2 {
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  position: absolute;
  opacity: 0;
  transition: all .4s ease;
}

.GlassContainer-si2 {
  opacity: 1;
  position: absolute;
  top: 0;
  right: 0;
  transition: all .4s ease;
}
.GlassContent-si2 {

  background: rgba(0, 0, 0, 0.688);
  backdrop-filter: blur(5px);

}
.nav2 {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content:end;
  align-items: center;
  border-radius: 20px;
  padding: 70px 12px;

}

/* Lista de enlaces */
.nav-links2 {
  list-style: none;
  display: flex;
  
  flex-direction: column;
  width: 350px;
  height: 100%;
  justify-content: space-between;
  align-items: end;
  padding-right: 30px;
}

/* Botones del menú */

.nav-btn2 {
  height: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  color: #dbdbdb;
  font-family: 'Poiret One';
  text-transform: uppercase;
  font-size: 2rem;
  /* font-weight: 500; */
  padding: 20px;
  border-radius: 104px;
  cursor: pointer;
  transition: all 0.2s ease;
  
}

.menu2 {
  padding: 5px 0px;
}

.menu2 button {
  height: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  color: #dbdbdb;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 300;
  padding: 10px;
  border-radius: 104px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.menu2 button:hover {
  opacity: .9;
  height: 1px;
  border: none;
  
  /* color: #1a1a1a; */
  font-weight: 600;
}

.nav-btn-contact:hover {
  background: #f3914cbe;
  transition: all 0.7s ease;
}

/* Hover */
.nav-btn2:hover {
  transition: all 0.2s ease;
}

/* Activo */
.nav-btn2.active {
  background: #5a5a5a57;
  opacity: .9;
  height: 1px;
  border: none;
  color: rgba(243, 145, 76, 0.745);
  font-weight: 600;
}

/* Responsivo */
@media (max-width: 768px) {
  .nav-links2 {
    
    flex-wrap: wrap;
    gap: 10px;
  }

  .nav-btn2 {
    font-size: 1.5em;
  }

  .nav-links2 {
    padding-right: 0px;
  }
}


