.quienes-somos-section {
  width: 100%;
  /* min-height: 100svh; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 20px;
}

.quienes-somos-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  gap: 60px;
  align-items: center;
}

/* TEXTO */
.quienes-somos-texto {
  flex: 1;
  color: #dbdbdb;
}

.quienes-somos-texto h2 {
  font-family: 'Waterfall';
  font-size: 4rem;
  font-weight: 100;
  margin-bottom: 5px;
}

.quienes-somos-tag {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 0.8rem;
  color: #f3914cbe;
}

.quienes-somos-texto p {
  font-size: 1rem;
  line-height: 1.7;
  margin-bottom: 15px;
  color: #cfcfcf;
}

/* IMAGEN */
.quienes-somos-img {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: center;
}

.quienes-somos-img img {
  
  width: 100%;
  max-width: 480px;
  border-radius: 18px;
  object-fit: cover;
  opacity: .7;
  filter: drop-shadow(0 -50px 20px rgba(145, 145, 145, 0.078)) saturate(.9) ;
  z-index: 1;
}

.quienes-somos-img .img-gradient-port {
  
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to top,
    rgb(0, 0, 0),
    transparent 100%
  );
  z-index: 2;
  
}


/* RESPONSIVE */
@media (max-width: 900px) {
  .quienes-somos-texto p {
    font-size: .7em;
  }
}

@media (max-width: 900px) {
  .quienes-somos-img {
    display: none;
  }
}
