.modal-overlay1 {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.821);
  backdrop-filter: blur(6px);
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeIn .3s ease;
}

.modal-box {
  background: #404040be;
  box-shadow: 0 0 50px rgb(0, 0, 0);
  padding: 30px;
  width: 90%;
  max-width: 550px;
  border-radius: 20px;
  position: relative;
  animation: slideUp .35s ease;
  color: #fff;
}

.modal-box h2 {
  /* font-family: 'Waterfall'; */
  font-family: 'Poiret One';
  margin-bottom: 25px;
  letter-spacing: 4px;
  text-align: center;
  font-weight: 760;
}

.modal-box form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
}

.modal-box input,
.modal-box textarea {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  background: rgba(255,255,255,0.08);
  color: #fff;
  border: none;
  outline: none;
  transition: all .2s ease;
}
.modal-box input:hover, 
.modal-box textarea:hover {
  background: rgba(255, 255, 255, 0.171);
}

.modal-box textarea {
  min-height: 110px;
  resize: none;
}

.modal-box .send-btn {
  width: 200px;
  padding: 10px;
  background: #f3914cbe;
  border: none;
  border-radius: 40px;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.modal-box .send-btn:hover {
  background: #e08a50;
}

.close-btn {
  position: absolute;
  right: 15px;
  top: 15px;
  text-align: center;
  background: none;
  background: #5a5a5a57;
  backdrop-filter: blur(10px);
  padding: 5px 10px;
  border-radius: 50%;
  border: none;
  font-size: 1rem;
  color: white;
  cursor: pointer;
  transition: all .2s ease;
}

.close-btn:hover {
  background: #f3914cbe;
}

.sent-msg {
  text-align: center;
  padding: 30px 0;
  font-size: 1.2rem;
}

/* Animaciones */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideUp {
  from { transform: translateY(30px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

@media (max-width: 1000px) {
  .modal-overlay1 {
    top: 0px;
    left: 0;
    background-color: red;
    z-index: 1000;
    align-items: end;
    justify-content: center;
  }

  .modal-box {
    background: #404040;
  }
}