.portada {
    width: 100%;
    height: 100vh;
    position: relative;
}

.portada .fondo img {
    width: 100%;
    height: 100vh;
    object-fit: cover;

}

.somos {
    width: 100%;
    height: 100vh;
}
.portada .fondo {
    width: 100%;
    height: 100%;
    position: relative;
    background-image: url(../../assets/img/portada111.png);
    background-size: cover;
    
}
.Slogan {
    z-index: 10;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: end;
    padding-right: 500px;
    padding-bottom: 5%;
    /* color: rgb(229, 229, 229); */
    font-size: 8rem;
    font-weight: 700;
    line-height: 15px;
    

    background-image: url(../../assets/img/portada111.png);
    background-size: cover;
    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.Slogan1 {
    z-index: 10;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 700px;

    /* padding-top: 100px; */
    /* color: rgb(229, 229, 229); */
    font-size: 8rem;
    font-weight: 700;
    line-height: 15px;
    background-image: url(../../assets/img/portada111.png);
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.Slogan2 {
    z-index: 10;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 150px;
    padding-bottom: 300px;
    /* padding-top: 100px; */
    color: rgba(216, 206, 192, 0.781);
    font-size: 8rem;
    font-weight: 700;
    line-height: 15px;
    
}
.Slogan3 {
    z-index: 10;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 90px;
    /* padding-top: 100px; */
    /* color: rgba(203, 203, 203, 0.781); */
    font-weight: 700;
    line-height: 15px;
    
}


.somos .content-somos {
   
    width: 550px;
    height: 250px;
    font-size: .9rem;
    font-weight: 100;
    line-height: 20px;
    background-color: red;
}

.somos .content-somos p {
    z-index: 10;
}

/* .efecto-bajo {
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    z-index: 1000;
}

.efecto-bajo .degradado {
    width: 100%;
    height: 400px;
    position: absolute;
    bottom: 0;
    backdrop-filter: blur(1px);
    background: linear-gradient(to top, rgba(0, 0, 0, 1) .5%, rgba(0, 0, 0, 0) 80%);
} */