.footer {
  background-color: #0e0e0e;
  padding: 60px 80px;
  color: #ffffff;
}

.footer-container {
  /* display: grid;
  grid-template-columns: 1fr auto 1fr; */
  gap: 60px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;

  /* align-items: start; */

}

/* LINKS */
.footer-links,
.footer-info {
  padding: 10px;

  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.footer-links h4,
.footer-info h4 {
  font-size: 14px;
  margin-bottom: 15px;
  letter-spacing: 1px;
}

.footer-links a {
  display: block;
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  opacity: 0.75;
  margin-bottom: 8px;
}

.footer-links a:hover {
  opacity: 1;
}

/* BRAND */
.footer-brand {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  text-align: center;
}

.footer-brand img {
  width: 120px;
  margin-bottom: 15px;
}

.claim {
  font-size: 14px;
  opacity: 0.8;
}

.copy {
  font-size: 12px;
  margin-top: 10px;
  opacity: 0.6;
}

/* INFO */
.footer-info button {
  display: block;
  background: none;
  border: none;
  color: #ffffff;
  font-size: 14px;
  opacity: 0.75;
  cursor: pointer;
  padding: 0;
  margin-bottom: 8px;
  text-align: left;
}

.footer-info button:hover {
  opacity: 1;
}

.location,
.hours {
  font-size: 13px;
  margin-top: 15px;
  opacity: 0.6;
}

/* MODAL */
.modal-overlay-polity {
  position: fixed;
  padding: 10px;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(6px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-polity {
  background: #2e2e2e;
  max-width: 600px;
  padding: 40px;
  border-radius: 8px;
  color: #ffffff;
}

.modal-polity h3 {
  margin-bottom: 15px;
}

.modal-polity p {
  font-size: 14px;
  line-height: 1.6;
  opacity: 0.9;
}


/* RESPONSIVE */
@media (max-width: 1200px) {
    .footer {
      margin-top: 650px;
    }
}

@media (max-width: 768px) {
  .footer {
    padding: 40px 20px;
  }

  .footer-container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .footer-info button {
    text-align: center;
  }

  .modal-polity h3 {
    font-size: .8em;
  }

  .modal-polity p {
    font-size: 10px;
    
  }
}

@media (max-width: 630px) {
  .footer {
    margin-top: 1200px;
  }
}

@media (max-width: 500px) {
  .footer {
    margin-top: 1350px;
  }
}