@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fuggles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Waterfall&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dorsa&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato';
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  background-color: rgb(0, 0, 0);
  color: rgb(229, 229, 229);
  user-select: none;
  /* height: 100vh; */
}

body::-webkit-scrollbar {
  width: 7px;
  background: #2f2f2fbe;
  border-radius: 20px;

}

body::-webkit-scrollbar-track {
  cursor: pointer;
}

body::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: #96969653;
  border-radius: 20px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #f3914cbe;
  
}

.section {
  height: 100svh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1000px) {
  .section {
    
    height: max-content;
  }
}
