.carrusel-container {
  position: relative;
  width: 100%;
  height: 200px;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 14px;
}

.carrusel-wrapper {
  width: 100%;
  height: 100%;
}

.carrusel-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  opacity: 1;
  transition: opacity 0.2s ease;
}

.fade {
  opacity: 0.8;
  transition: opacity 0.2s ease;
}

.btn-carrusel {
  padding-bottom: 2px;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.4);
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 50%;
  backdrop-filter: blur(4px);
  transition: 0.3s ease;
  z-index: 20;
}

.btn-carrusel:hover {
  background: rgba(0,0,0,0.7);
  color: #d38218;
}

.btn-carrusel.left {
  left: 5px;
}

.btn-carrusel.right {
  right: 5px;
}



/* Responsive */
@media (max-width: 600px) {
  .carrusel-container {
    height: 300px;
  }

  .btn-carrusel {
    font-size: 1.4rem;
  }
}


/* Wrapper para animación horizontal */
.slide-wrapper {
  width: 100%;
  height: 100%;
}

/* Animación hacia la izquierda (siguiente) */
.slide-left {
  animation: slideLeft 0.4s ease;
}

@keyframes slideLeft {
  0% { transform: translateX(100%); }
  100% { transform: translateX(0); }
}

/* Animación hacia la derecha (anterior) */
.slide-right {
  animation: slideRight 0.4s ease;
}

@keyframes slideRight {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(0); }
}
